.brand__list {
    display: flex;
    gap: 5px;
    margin: 10px;
    align-items: center;
}

.brand__card {
    padding: 2px 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: .2s;
}

.brand__card:hover {
    border: 1px solid #5f33ff;
    background-color: #5f33ff;
    color: #fff;
}

.brand__card.active {
    border: 1px solid #5f33ff;
    background-color: #5f33ff;
    color: #fff;
}